[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
websocket-client = "*"
set = {path = ".", editable = true}

[packages]
set = {path = ".", editable = true}
tornado = "*"
jsonschema = "*"

[requires]
python_version = "3.6"
